doctype html
html(lang="en")
  head
    title 14362
    link(rel="stylesheet", href="/static/styles.css")
  body 
    header.navbar 
      h1 
       a(href='/') Student database
       nav.nav 
        a(href='/create') Add Student 
        a(href='/students') All students

    block content
          